body {
    height: 750px;
    background-image: url(../img/livre.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color: white;
}
.bandeau {
    background-color:#5a6268;
    color: white;
}