body {
    font-family: 'Nunito Sans', sans-serif; 
    /* font-family: 'Montserrat Alternates', sans-serif; */
}
header {
    display: flex;
    justify-content: flex-end;
}

h1, h2 {
   
    font-family: 'Montserrat Alternates', sans-serif;
}
.bandeau {
    background-color: grey;
    border-radius: 5px;
    color: black;
}

i {
    color:#28a745;
}

.navbar-nav {
    margin-left: 80%;
    
}

em {
    font-family: 'Sacramento', cursive;
    font-size: 1.5rem;
}

.nouveau {
    margin-left: 38rem;
}

.modifier {
    margin-left: 17rem;
}