{% extends 'base.html.twig' %}

{% block title %}Edit Livre{% endblock %}

{% block body %}
<div class="container">
    <div class="column justify-content-center">
        <div class="col-12 mt-5 my-5"><h1>Modifier le prêt</h1></div>

        {{ include('livre/_form.html.twig', {'button_label': 'Renouveler'}) }}
        {{ include('livre/_delete_form.html.twig') }}
    </div>

<div class="row justify-content-center">
    <a href="{{ path('livre_index') }}" class="btn btn-secondary">Retour</a>
</div>
</div>
    
  
{% endblock %}
