{% extends 'base.html.twig' %}

{% block title %}Edit Livre{% endblock %}

{% block body %}
<div class="container">
<h2 class="text-center"> <i class='fa fa-book'></i> Modifier le prêt</h2>
<div class="row">
    {{ include('livre/_delete_form.html.twig') }}
    <a href="{{ path('livre_index') }}" class="btn btn-dark ml-3">Retour</a>
</div>
    <div class="column justify-content-center">
        
         {{ include('livre/_form.html.twig', {'button_label': 'Renouveler'}) }}
    </div>


</div>
    
  
{% endblock %}
