{% extends 'base.html.twig' %}

{% block title %}New Livre{% endblock %}

{% block body %}
    <h1>Entrer un nouveau livre</h1>

    {{ include('livre/_form.html.twig') }}

    <button type="button" class="btn btn-dark">
        <a href="{{ path('livre_index') }}">Retour à la liste des prêts</a>
    </button>
{% endblock %}
